* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.naver-container {
  /* background-color: blue; */
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.ptag {
  font-size: 14px;
}

.spantag {
  font-size: 12px;
}
